
@{
    ViewData["Title"] = "MongotoCSharp";
}

<h2>@ViewData["Title"]</h2>

<h4>@ViewData["nav1"]</h4>
<h4>@ViewData["nav2"]</h4>
<h4>@ViewData["nav3"]</h4>
<br />
<h4>@ViewData["scr1"]</h4>
<h4>@ViewData["scr2"]</h4>
<h4>@ViewData["scr3"]</h4>
<br />
<h4>@ViewData["ex1"]</h4>
<h4>@ViewData["ex2"]</h4>
<br />
<h4>@ViewData["plg1"]</h4>
<h4>@ViewData["plg2"]</h4>